@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Oi&display=swap');

/* Add any additional styles here */
.custom-font {
  font-family: 'Oi', cursive;
  font-size: 2em; /* Adjust the size as needed */
}

/* General Styles */
body {
  font-family: Arial, sans-serif;
  max-width: 1600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #0f3a56;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffff; /* White text for contrast */
}

header {
  color: #ffffff; /* White text for contrast */
  padding: 50px 20px; /* Generous padding for space */
  border-radius: 8px; /* Slight rounding for modern feel */
}

header h1 {
  font-size: 3.5rem; /* Large, bold text */
  font-weight: 700; /* Bold font weight */
  margin-bottom: 20px;
  line-height: 1.2; /* Slightly tighter line-height */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Clean, modern font */
}

header p {
  font-size: 1.5rem;
  font-weight: 300; /* Lighter subheading text */
  margin: 0;
}

/* General Section Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Creates 5 equal columns */
  gap: 20px; /* Space between cards */
  padding: 10px;
}

.invention-card {
  color: white;
  display: flex; /* Flex layout for left and right sections */
  align-items: top; /* Center items vertically */
  justify-content: space-between; /* Space between content and logo */
  padding: 20px 26px;
  height: auto; /* Adjust height to content */
  width: 450px;
  text-align: left;
  border: 12px solid rgb(252, 174, 118);
}
.invention-card-content {
  flex: 1; /* Occupy available space on the left */
}

/* Image */
.invention-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* Card Content */
.invention-card h3 {
  font-weight: bolder;
  font-size: 1.2rem;
  margin: 20px 0 0 0;
}

.invention-card p {
  font-size: 0.9rem;
  line-height: 1.4;
  margin: 0;
  padding: 40px 0 0 0;
}

/* Wikipedia Logo Link */
.wikipedia-link img {
  width: 30px; /* Small Wikipedia logo */
  height: 30px;
  object-fit: contain;
}

.wikipedia-link {
  margin-left: 20px; /* Add space between content and the logo */
  display: inline-block;
}
